@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .gallery-carousel .owl-nav>div {
        left: -30px
    }

    .gallery-carousel .owl-nav .owl-next {
        right: -30px
    }

    .gallery-carousel.owl-carousel {
        padding: 0 55px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .gallery-menu.owl-carousel {
        padding-left: 40px;
    }

    .gallery-carousel.owl-carousel {
        padding: 0 40px;
    }

    .gallery-menu .nav-link {
        font-size: 19px;
        line-height: 26px
    }

    .gallery-carousel .owl-nav>div {
        left: -25px;
        font-size: 24px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .gallery-carousel .owl-nav .owl-next {
        right: -25px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .gallery-menu .nav-link {
        font-size: 20px;
        line-height: 26px;
    }

    .gallery-menu {
        padding-left: 25px;
        margin-bottom: 0
    }

    .gallery-carousel .owl-nav>div {
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 36px;
        left: -5px;
        top: 30%;
        -webkit-transform: translateY(-38%);
        transform: translateY(-30%);
        left: -5px
    }

    .gallery-carousel .owl-nav .owl-next {
        right: -5px
    }

    .gallery-carousel.owl-carousel {
        padding: 0 40px;
    }

    .gallery-menu .owl-nav>div {
        left: -25px;
    }

    .gallery-item h4 {
        font-size: 18px;
        line-height: 24px;
    }

    .gallery-menu .owl-nav .owl-next {
        right: -25px;
    }

    .gallery-area {
        padding: 75px 0;
    }
}

@media (max-width: 767px) {
    .gallery.rsDefault .rsOverflow {
        height: 100px !important;
    }

    .gallery-menu .owl-stage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .gallery-menu .owl-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .gallery-menu .nav-item {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-carousel.owl-carousel {
        padding-left: 0;
        padding-right: 0;
    }

    .gallery-carousel.owl-carousel .owl-stage-outer {
        overflow: visible;
    }
}

@media only screen and (max-width: 479px) {
    .gallery-menu .nav-link {
        font-size: 19px;
        line-height: 26px;
    }

    .gallery-menu {
        padding-left: 25px;
    }

    .gallery-carousel .owl-nav>div {
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 36px;
        left: -5px;
        top: 30%;
        -webkit-transform: translateY(-38%);
        transform: translateY(-30%);
        left: -5px
    }

    .gallery-carousel .owl-nav .owl-next {
        right: -5px
    }

    .gallery-menu .owl-nav>div {
        left: -25px;
    }

    .gallery-item h4 {
        font-size: 18px;
        line-height: 24px;
    }

    .gallery-menu .owl-nav .owl-next {
        right: -25px;
    }

    .gallery-area {
        padding: 75px 0;
    }
}