/*Featured items*/
html,
body {
    overflow-x: hidden !important;
}

.gallery-style {
    @import "../public/no21flowers/images/featured-items9f67";
    @import "./responsive";

    .gallery {
        &-menu {
            &::after {
                pointer-events: none;
            }

            .owl-stage {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-box;
                display: box;
            }

            .owl-item {
                flex: 0 0 auto;
            }

            .nav-item {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            &-menu {
                margin-bottom: 35px;
            }
        }
    }
}

// @media screen and (max-width: 1023px) {
//     header {
// position: fixed;
//     }
// }