/*Featured items*/
@import "./mixins/mixins";

html,
body {
    overflow-x: hidden !important;
}

.gallery-style {
    @import "../public/no21flowers/images/featured-items9f67";
    @import "./responsive";

    .gallery {
        &-menu {
            &::after {
                pointer-events: none;
                z-index: 11;
            }

            .owl-stage {
                display: flex;

                &-outer {
                    z-index: 1;
                }
            }

            .owl-item {
                width: max-content !important;
                flex: 0 0 auto;
                transform: translateZ(0);
            }

            .nav-item {
                text-align: left;
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            &-menu {
                margin-bottom: 35px;
            }
        }

        @include less-sm {
            &-menu {
                &::after {
                    right: -2px;
                    width: 40%;
                    max-width: 180px;
                }
            }

            &-carousel {
                .owl-item.active {
                    &+.owl-item {
                        .owl-lazy {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (max-width: 1023px) {
//     header {
// position: fixed;
//     }
// }